body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #ddd;
    padding: 10px 0;
    margin-bottom: 15px;
}

nav .back-btn {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

nav .back-btn:hover {
    color: #5271FF;
}

.project-info {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-description {
    width: 900px;
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 5px;
    margin-right: 100px;
}

.project-poster img {
    max-width: 40%;
    height: 20%;
}

.project-poster {
    flex: 1;
    margin-right: -250px;
    margin-left: 100px;
}

.project-description {
    grid: 1;
    margin: 0px;
}

.project-video video {
    flex: 1;
    margin: 15px;
    width: 90%;
    justify-content: center;
}

.project-github {
    flex: 1;
    margin: 15px;
}

.project-github a {
    text-decoration: none;
    color: #333;
}

.project-github a:hover,
.project-github:hover i {
    color: #5271FF;
}

.project-github:hover::after {
    content: '\00BB';
    margin-left: 5px;
    color: #5271FF;
}